TELEGRAM_TOKEN=your_telegram_bot_token_here
LLM_PROVIDER=groq
# LLM_PROVIDER can be 'google' or 'groq'

# If using Google (Gemini)
GOOGLE_API_KEY=your_google_api_key_here
GOOGLE_MODEL=gemini-1.5
GOOGLE_API_VERSION=v1

# If using Groq
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=compound-beta-mini
GROQ_BASE_URL=
